/* Default Styles */

* {
	margin: 0; 
	padding: 0; 
}
body { 
	overflow-x: hidden;
	font-size: 62.5%; 
	font-family: 'Lucida Grande', Helvetica, sans-serif;
	background: #121212;
	color: #999; 
	padding: 20px;
}
tr { 
	vertical-align: top;
}
p { 
	font-size: 1.4em;
	margin: 0 0 15px 0;
	line-height: 1.8em;
}
h1, h2 {
	font-family: Sans-serif; 	
	letter-spacing: -1px; 
	color: #ccc; 
}
h1 { 
	font-size: 4.0em;
}
h2 { 
	font-size: 3.0em;
}
div.post { 
	width: 300px; 
}
span.highlight.c01 {
	/*border: 1px solid red;*/
	border-bottom: 1px solid orange;
}
span.highlight.c02 {
	/*border: 1px solid red;*/
	border-bottom: 1px solid red;
}
span.highlight:hover{
	color: #fff;
	/* cursor */
}