/* Default Styles */

* {
	margin: 0; 
	padding: 0; 
}
body { 
	overflow-x: hidden;
	font-size: 62.5%; 
	font-family: 'Lucida Grande', Helvetica, sans-serif;
	background: #121212;
	color: #999; 
	padding: 20px;
}
tr { 
	vertical-align: top;
}
p { 
	font-size: 1.4em;
	margin: 0 0 15px 0;
	line-height: 1.8em;
}
h1, h2 {
	font-family: Sans-serif; 	
	letter-spacing: -1px; 
	color: #ccc; 
}
h1 { 
	font-size: 4.0em;
}
h2 { 
	font-size: 3.0em;
}
div.post { 
	width: 300px; 
}
span.highlight {
	/*border: 1px solid red;*/
	border-bottom: 1px solid orange;
}
span.highlight.c02 {
	/*border: 1px solid red;*/
	border-bottom: 1px solid red;
}
span.highlight:hover{
	color: #fff;
	/* cursor */
}
.post {
	background-color: rgba(0,0,0,.9);
	padding: 20px;
}

#modal {
	display: block;
	background-color: #000;
	border: 1px solid white;
	border-radius: 10px;

	display: none;
	margin: 0 auto;
	position: fixed;

	top: 10%;
	padding: 40px;
	width: 40%;
	left: 30%;
}

#modal .back {
	font-size: 20px;
	margin-bottom: 20px;
}

#modal .back:hover{
	color: orange;
	text-decoration: underline;
	cursor: pointer; 
	cursor: hand;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	margin-right: 10px;
}

#modal .content p {
	color: #999;
	font-size: 1.4em;
	margin: 0 0 15px 0;
	line-height: 1.8em;
}

#modal .content img {
	width: 100%;
}


/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
.horizon
{
  z-index: 1;
  width: 3000px;
}

.middle
{
  z-index: 500;
  width: 4000px;
}

.front
{
  z-index: 1000;
  width: 6000px;
}